

@media (max-width: 575.98px) {
    .logo{ 
        margin-left: 10px;
        
    }  
}

@media (min-width: 992px) {
    .nav-logo{ 
        margin-top: 20px;
    }  
}

@media (min-width: 992px) {
    .nav-build{
        padding-right: 240px;
        
    } 
}

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}

@media (min-width: 575.98px) {
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;  
    }
    
}

.header{
    width: 100%;
    height: 80vh;
    background-color:  rgb(168, 224, 250, 0.2);
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;

}

@media (max-width: 575.98px) {
    .header{
        width: 100% !important;
        height: 95vh;   
    } 
}

        /* grow together */


    .grow{
        align-items: center;
        justify-content: center;
    }

@media (max-width: 575.98px) {
    .grow{
        flex-direction: column-reverse;
       
      
    }
    
}

        /* your user */

@media (max-width: 575.98px) {
    .reverse-on-mobile2{
        flex-direction: column-reverse;
        
    }
}


@media (max-width: 575.98px) {
    .build1{
        align-items: center;
        text-align: center;
        height: 120px;
        padding: 20 40px; 

    }
    
}

@media (max-width: 575.98px) {
    .build{
       margin-top: 5px; 
    }
    
}


@media (max-width: 575.98px) {
    .mockup{
        width: 80% !important;

    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .mockup{
        width: 100% !important;
       
    }
    
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .mockup{
        width: 100% !important;
    }
    
}

@media (min-width: 992px) {
    .mockup{
        width: 50% !important;
        
    }
    
}

.build{
    padding-top: 50px;
}


.nav-item{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}


.Get{
    background-color: hsl(322, 100%, 66%);
    border: 0;
}

p{
    font-size: 14px;
    color: grey;
    font-family: "Poppins", sans-serif;
   
}



h1{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
 
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.logo{
    height: 20px;
}

.btn{
    font-size: 14px;
}
.footer{
    background-color: hsl(192, 100%, 9%);
    margin-top: 300px;
}

.box {
    position: absolute;
    width: 900px;
    height: 30vh;
    margin-left: 450px;
    border-radius: 10px;
    margin-top: 110px;
    flex-direction: column;
    display: flex;
}

@media (max-width: 575.98px) {
    .box{
        width: 340px;
        margin: 90 23px;
        margin-left: 10px;
        height: 200px;
       margin-top: 110px;
    }
    
}


@media (max-width: 575.98px) {
    .row{
       width: 300px;
    }  
}

.row{
    border-radius: 10px;
}

.icon{
    color: white;
    border: 1px solid white;
    border-radius: 100%;

}

.logo1{
    color: white;
        display: flex;
        padding: 0 40px;
        font-size: 20px;
        margin-top: 120px;  
}


.logo2{
    font-size: 40px;
}
.foot-item{
  margin-top: 130px;
   width: 500px;
   
}


.huddle{
    text-decoration: none;
    color: white;
}

 .huddle:hover{
    color: rgb(89, 89, 119);
 }



.about{
    margin-left: 10px;

}









